html {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: block;

  
}

body {
  background-image: url("pattern.png");
  background-repeat: repeat;
  background-size: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 600px;
  border-radius: 10px;
  background-color: white ;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 36px;
  color: #000000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 10px;
  background-color: white ;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

.input {
  padding-top: 0.75rem;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-size: 12px;
}

input {
    width: 25rem;
    height: 2.2em;
}

select {
    width: 25rem;
    height: 2.2em;
}

select:invalid { 
  color: gray; 
}

button {
    background-color: #f40e22;
    width: 25em;
    height: 2.5em;
    border: none;
    color: white;
    text-align: center;
    display: center;
    font-size: 16px;
    cursor: pointer;
  }