html {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
}

body {
  background-color: #ececed;
  font-family: "Roboto Mono";
  letter-spacing: 0;
  color: #000000;
  font-size: 12px;
  margin: 0;
}

.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 50px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
}

.input {
  padding-top: 0.75rem;
}

input {
    width: 25rem;
    height: 2.2em;
}

select {
    width: 25rem;
    height: 2.2em;
}

select:invalid { 
  color: gray; 
}

button {
    background-color: #f40e22;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .hide {
    display: none;
  }
      
  .hovertoshow:hover + .hide {
    display: block;
    color: red;
  }